<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}News Collector{% endblock %}</title>
        {% block stylesheets %}
            <style>
                h1,h2{
                    font-family:Arial;
                }
                h1{
                    text-align: center;
                    font-size: 50px;
                    padding:20px;
                    font-family: Ubuntu;
                }
                html{
                    background-color:lightskyblue;
                    font-family: Arial;
                }
                body{
                    width: 70%;
                    margin-left: 15%;
                    margin-right: 15%;
                    background-color:#EEEEEE;
                    padding:80px 40px;
                    border:1px black solid;
                    box-shadow: 10px 10px 5px #888888;
                    margin-bottom:20px;
                }
                header{
                    background-color: steelblue;
                }
                .admin_login{
                    float:right;
                }
                a:link, a:visited ,button {
                    background-color: steelblue;
                    color: white;
                    padding: 5px 10px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    border:none;
                }
                a:hover, a:active ,button:hover {
                    background-color:powderblue ;
                    color: white;
                    padding: 5px 10px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    border:none;
                }
                p{
                    font-size: larger;
                    line-height: 140%;
                }
                div.article{
                   background-color: white;
                    padding:20px;
                    border-top: 5px solid lightskyblue;
                    margin-top:20px;
                }
                .current{
                    background-color: #99CDD8;
                    padding: 5px 10px;
                }
            </style>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
