{% form_theme form 'form_table_layout.html.twig' %}



{% block stylesheets %}
    <style>
        table#form {
            font-size:18px;
        }
        button {
            font-size:18px;
        }
        tr {
            height:35px;
        }
        input[type=checkbox]{
            transform: scale(1.5);

            /* Webkit browsers*/
            -webkit-transform: scale(1.5);
        }
    </style>
{% endblock %}


{% block body %}
    <a href="{{ path('adminpage') }}">Natrag</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}